<ion-view id="home">
  <div class="bar bar-header bar-positive item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input class="search" type="search" placeholder="Search">
    </label>
    <button class="button button-clear ion-information-circled badge-assertive">
    </button>
    <!--
      <span class="badge badge-assertive">2</span>
    -->
  </div>

  <ion-content class="padding has-header">
   home
  </ion-content>
</ion-view>
