<ion-view id="home" view-title="首页">

  <ion-nav-buttons side="right">
      <span class="button button-small button-clear " ng-click="searchProducts()">
      	<i class="icon ion-ios-search search"></i>
      </span>
   </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="my-row1">
      <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000" show-pager="false" ng-if="adverts">
        <ion-slide ng-repeat="item in adverts" ng-click="showProdcut(item.productId)">
          <div class="box" ng-style="styleSlideHeight" style="background-image:url('{{item.image | imgPath}}');">
          	<div class="slider-bar">
          		<div class="slider-bar-inner">
          			<div class="text-ellipsis text-thin text-color-white"></div>
          			<div class="text-ellipsis text-medium text-color-white">{{item.title}}</div>
          			<div class="text-ellipsis text-thin text-color-white"></div>
          		</div>
          	</div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
	
    <div class="my-row3">
      <ion-list>
        <ion-item ng-repeat="item in products" ng-click="showProdcut(item.id)" class="item-thumbnail-left item-icon-right">
          <img ng-src="{{item.image | imgPath}}">
          
          <h2 class="text-big text-color-light-grey" >{{item.name}}</h2>
          <p class="text-thin text-color-light-grey">{{item.retailPrice | currency:"￥"}}</p>

          <i class="icon ion-chevron-right"></i>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>

</ion-view>

  <div id="my-menu" class="my-menu" ng-class="{menu_show: menuShow}">
    <div class="menu-inner background-opacity">
        <div class="background-opacity-inner">
            <div>
                <div ng-repeat="item in categories" ng-click="showCategory(item)"
                     class="menu-item" ng-class="{'menu-item-current': Current == item.code}" >
                    <div class="icon" style="background-image: url('{{item.image | imgPath}}');"></div>
                    <div class="my-label">{{item.name}}</div>
                </div>
                <div style="clear:both; "></div>
            </div>
        </div>
    </div>
    <div class="menu-draw-outer">
        <div id="menu-button" ng-click="showMenu()" class="menu-draw"></div>
    </div>
</div>
