<ion-view id="home">
  <div class="bar bar-header bar-dark item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input class="search" type="search" placeholder="Search">
    </label>
    <!-- <button class="button button-clear ion-information-circled badge-assertive">
    </button> -->
  </div>

  <ion-content class="has-header">
    <div class="my-row1">
      <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000">
        <ion-slide ng-repeat="item in [1,2,3,4]">
          <div class="box" ng-style="styleSlideHeight" style="background-image:url('sample/img/ad00{{item}}.jpg');">
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="my-row2">
      <div class="row">
        <h4 class="col">
          热销商品
        </h4>
      </div>

      <div class="row">
        <div class="col" ng-repeat="item in [2,3,1]">
          <div class="box" style="background-image:url('sample/img/production00{{item}}-m.png');">
          </div>
        </div>
      </div>
    </div>

    <div class="my-row3">
      <div class="row">
        <h4 class="col">
          促销商品
        </h4>
      </div>

      <ion-list>

        <ion-item ng-repeat="item in productions" class="item-thumbnail-left item-icon-right">
          <img ng-src="sample/img/production{{item.id}}-m.png">
          <h2>{{item.name}}</h2>
          <p>{{item.capacity}}</p>

          <i class="icon ion-chevron-right"></i>
        </ion-item>

      </ion-list>
    </div>

  </ion-content>
</ion-view>
