<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-dark">

  <ion-tab title="首页" icon-off="ion-ios-home-outline " icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="发现" icon-off="ion-ios-color-wand-outline" icon-on="ion-ios-color-wand" href="#/tab/category">
    <ion-nav-view name="tab-category"></ion-nav-view>
  </ion-tab>

  <ion-tab title="购物车" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/shoppingcart">
    <ion-nav-view name="tab-shoppingcart"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/mine"
           badge="2" badge-style="badge-assertive">
    <ion-nav-view name="tab-mine"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<ion-nav-bar class="my-header-bar bar-dark">
  <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
 <div id="my-menu" class="my-menu" ng-class="{menu_show: menuShow}">
    <div class="menu-inner background-opacity">
        <div class="background-opacity-inner">
            <div class="menu-inner">
                <div ng-repeat="item in categories" ng-click="showComp(item)"
                     class="menu-item" ng-class="{'menu-item-current': Current == item.code}" >
                    <div class="icon" style="background-image: url('../img/{{item.code}}.png');"></div>
                    <div class="my-label">{{item.name}}</div>
                </div>
                <div style="clear:both; "></div>
            </div>
        </div>
    </div>
    <div class="menu-draw-outer">
        <div id="menu-button" ng-click="showMenu()" class="menu-draw"></div>
    </div>
</div>

<ion-nav-view></ion-nav-view>