<ion-navbar *navbar class="my-navbar">
  <ion-title>结算</ion-title>
</ion-navbar>

<ion-content *ngIf="order" class="order-detail">
  	<div class="my-bar">
  		<div class="row title">
		  <div class="col left my-dark" (click)="show(1)">
		  	概要
		  	<div class="triangle-down" *ngIf="tab==1"></div>
		  </div>
		  <div class="col right my-light" (click)="show(2)">
		  	细节
		  	<div class="triangle-down" *ngIf="tab==2"></div>
		  </div>
		</div>
  	</div>
	<div class="summary" *ngIf="tab==1">
		<div class="price">
			<div class="row content">
			  <div class="col left">状态</div>
			  <div class="col right">{{order.status | orderStatus}}</div>
			</div>
			<div class="row content">
			  <div class="col left">金额</div>
			  <div class="col right">{{order.amount | currency:'CNY' | cny}}</div>
			</div>
			<div class="row content">
			  <div class="col left">运费</div>
			  <div class="col right">{{order.freight | currency:'CNY' | cny}}</div>
			</div>
			<div class="row content">
			  <div class="col left">总额</div>
			  <div class="col right">{{order.totalAmount | currency:'CNY' | cny}}</div>
			</div>
		</div>

		<div class="info">
			<div class="row title">
				<div class="col my-light">收件人</div>
			</div>
			<div class="row content">
			  <div class="col left">姓名</div>
			  <div class="col right">{{order.recipientName}}</div>
			</div>
			<div class="row content">
			  <div class="col left">电话</div>
			  <div class="col right">{{order.recipientPhone}}</div>
			</div>
			<div class="row content address" (click)="openAddressModel(order)">
			  <div class="col left">地址</div>
			  <div class="col right content">
			  	<div class="text">
			  		<span>{{order.recipientArea}}{{order.recipientStreet}}{{order.recipientAddress}}</span>
			  	</div>
			  	<div class="more">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
			  	</div>
			  </div>
			</div>
		</div>
	</div>

    <div class="detail" *ngIf="tab==2">
        <div class="list-with-price">
                <div *ngFor="let item of order.items" class="list-item">
                  <div class="left">
                        <img [src]="item.image | imgPath">
                  </div>

                  <div class="right text-ellipsis">
                      <h2 class="text-color-light-grey text-ellipsis">{{item.name}}</h2>
                      <p class="text-thin text-color-light-grey">{{item.unitPrice | currency:'CNY' | cny}}</p>
                      <div class="clear-both"></div>
                      <div class="my-box text-thin text-color-light-grey">
                        <div class="line">
                            <span class="line-left">
                                <span class="my-label">
                                    数量
                                </span>
                                <span class="my-number">
                                    {{item.qty}}
                                </span>
                            </span>
                        </div>
                      </div>
                  </div>
                </div>
           </div>
   </div>
</ion-content>

<ion-toolbar *ngIf="order && order.status != 'CANCEL'" white position="bottom" class="bottom-toolbar">
    <div class="bottom-buttons">
        <div class="buttons blue" (click)="pay()">
           <button clear class="button left">
             现在支付
           </button>
       </div>

       <div class="buttons orange" (click)="cancel(order.id)">
           <button clear class="button left">
             取消订单
           </button>
       </div>
   </div>
</ion-toolbar>
