.shoppingCart {
    font-family: Roboto-Light;
    .msg {
        padding: 2rem 1.5rem;
        text-align: center;
    }
    .summary {
        padding: 0.8rem;
        font-size: 1.6rem;
        .row {
            display: flex;
		    padding: 0.3rem;
		    width: 100%;
            .col.left {
                flex: 3;
                text-align: right;
            }
            .col.right {
                flex: 7;
                padding-left: 2rem;
            }
        }
    }

    .detail {

    }
}
