<ion-navbar *navbar class="my-navbar">
	<ion-title>
		我的收藏
	</ion-title>
</ion-navbar>

<ion-content class="collections">
	<ion-list *ngIf="collections">
		<ion-item *ngFor="#item of collections" (click)="showProdcut(item.productId)" class="item-thumbnail-left item-icon-right">
			<ion-thumbnail item-left>
				<img [src]="item.image | imgPath">
			</ion-thumbnail>
			<h2 class="list-item-text-middle text-color-light-grey text-ellipsis">{{item.name}}</h2>
			<p class="list-item-text-thin text-color-light-grey">{{item.retailPrice | currency:'CNY' | cny}}</p>
			<button clear item-right>
				<ion-icon name="ios-arrow-forward"></ion-icon>
			</button>
		</ion-item>
   </ion-list>
</ion-content>
