<ion-navbar *navbar class="my-navbar">
  <ion-title>首页</ion-title>
</ion-navbar>

<ion-content class="home">
	<div *ngIf="data">
		<ion-slides [style.height.rem]="slideHeight" pager loop="true" autoplay="true">
		  <ion-slide *ngFor="#item of data.adverts" (click)="onProductSelected(item.productId)">
		        <div class="slide-image">
					<div class="image-loading"></div>
		         <img [src]="item.image | imgPath">
		         <div class="slider-bar">
		             <div class="slider-bar-inner">
		                 <div class="text-ellipsis text-color-white">{{item.title}}</div>
		             </div>
		         </div>
		       </div>
		  </ion-slide>
		</ion-slides>

	    <product-list [products]="data.products" (selected)="onProductSelected($event)"></product-list>
	</div>
</ion-content>

<drop-menu *ngIf="data" [categories]="data.categories"></drop-menu>
