
<div id="my-menu" class="my-menu" [class.menu-show]="menuShow">
	<div class="menu-inner background-opacity">
		<div class="background-opacity-inner">
				<div *ngFor="#item of categories" (click)="select(item)"
					class="menu-item my-link" [class.menu-item-current]="currentCategory.code == item.code">
					<div class="icon">
						<img [src]="item.image | imgPath">
					</div>
					<div class="my-label">{{item.name}}</div>
				</div>
				<div style="clear: both;"></div>
		</div>
	</div>
	<div class="menu-draw-outer my-link">
		<div id="menu-button" (click)="showMenu()" class="menu-draw"></div>
	</div>
</div>
