.address-selection {
	  ion-item {
	       .descr {
				 word-break: break-all;
			     white-space: normal;
	       }
	  }
}

.address-list {
	ion-item {
		padding-right: 1.6rem;
		ion-label {
			margin: 0px 0.8rem 0.5rem 0;
		}
	}
}

.address-edit {
	.item-input ion-label {
		color: #000;
	}
}

.area-selection {

}
