<ion-navbar *navbar class="my-navbar">
	<ion-title>
		我的
	</ion-title>
</ion-navbar>

<ion-content class="address-edit">
	<div *ngIf="address" class="list list-inset">
		<ion-list inset>
			<ion-item>
				<ion-label>姓名</ion-label>
				<ion-input type="text" [(ngModel)]="address.name"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>电话</ion-label>
				<ion-input type="text" [(ngModel)]="address.phone"></ion-input>
			</ion-item>
			<ion-item (click)="openAreaModal('province')">
				<ion-label>省</ion-label>
				<ion-input type="text" [(ngModel)]="address.province"></ion-input>
				<button clear item-right>
					<ion-icon name="ios-arrow-forward"></ion-icon>
				</button>
			</ion-item>
			<ion-item (click)="openAreaModal('city')">
				<ion-label>市</ion-label>
				<ion-input type="text" [(ngModel)]="address.city"></ion-input>
				<button clear item-right>
					<ion-icon name="ios-arrow-forward"></ion-icon>
				</button>
			</ion-item>
			<ion-item (click)="openAreaModal('region')">
				<ion-label>区</ion-label>
				<ion-input type="text" [(ngModel)]="address.region"></ion-input>
				<button clear item-right>
					<ion-icon name="ios-arrow-forward"></ion-icon>
				</button>
			</ion-item>
			<ion-item>
				<ion-label>街道</ion-label>
				<ion-input type="text" [(ngModel)]="address.street"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>住址</ion-label>
				<ion-input type="text" [(ngModel)]="address.address"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>默认</ion-label>
				<ion-toggle [(ngModel)]="address.defaultt"></ion-toggle>
			</ion-item>
		</ion-list>
	</div>
</ion-content>

<ion-toolbar  *ngIf="address" white position="bottom" class="bottom-toolbar">
	<div class="bottom-buttons">
		<div class="buttons orange" (click)="save()">
			<button clear class="button half">
				保存
			</button>
		</div>

		<div class="buttons blue" (click)="remove()">
			<button clear class="button  half">
				删除
			</button>
		</div>
	</div>
</ion-toolbar>
