<ion-view id="product" view-title="产品" animation="slide-left-right">
	<ion-nav-bar class="my-header-bar bar-dark">
	   <ion-nav-buttons side="left">
	      <span class="button button-small button-clear my-back" ng-click="backProduct()">
	      	<i class="icon ion-chevron-left"></i>
	      </span>
	   </ion-nav-buttons>
	</ion-nav-bar>

  <ion-content class="has-header content">
			<div class="slide">
				<img ng-src="{{product.image | imgPath}}">
			</div>
			<div class="rows">
				<div class="row name">
					<span class="title text-ellipsis">{{product.name}}</span>
	       		</div>
				<div class="row">
			        <div class="col-left text-color-light-grey">
	       				价格
	       			</div>
	       			<div class="col-right">
	       				{{product.retailPrice | currency:"￥"}}
	       			</div>
	       			<div class="clear-both"></div>
	       		</div>
	           	<div class="row">
	       			<div class="col-left text-color-light-grey">
	       				数量
	       			</div>
	       			<div class="col-right">
	       				{{product.qty}}
	       			</div> 
	       			<div class="clear-both"></div>
	       		</div>
	           	<div class="row">
	       			<div class="col-left text-color-light-grey">
	     				运费
	     			</div>
	     			<div class="col-right">
	     				{{product.freight | currency:"￥"}}
	     			</div> 
	       			<div class="clear-both"></div>
	           	</div>
	            <div class="row qty">
	        		<div class="col-left text-color-light-grey">
	     				数量
	     			</div>
		       		<div class="col-right">
		       				<div ng-click="reduceQty()" class="reduceQty"><img src="img/reduce.png"></div>
		       				<div class="input">
		       					<label class="item item-input">
								    <input type="text" ng-model="shopping.qty">
								</label>
		       				</div> 
		       				<div ng-click="addQty()" class="addQty"><img src="img/add.png"></div>
	               			<div class="clear-both"></div>
		       		</div>
	            </div>
            </div>
           	
           	<div class="divide-line pad"></div>
           	
       		<div class="descr">
 				{{product.descr}}
           	</div>
  </ion-content>
  
	<div class="bar bar-footer">
	   	<div class="row bottom-buttons">
	   		<div class="icons">
	   			<a class="{{collectCls}} button button-icon icon" ng-click="collect(product)"> </a>
		   		
		   		<a class="button button-icon icon ion-ios-cart has-badge my-badge right" ng-click="toShoppingcart()">
		   			<span class="badge badge-assertive" ng-if="shoppingcartItemNumb > 0">{{shoppingcartItemNumb}}</span>
		   		</a>
	   		</div>
			<div class="buttons half">
				<button class="button button-light left" ng-click="addToShoppingcart(product)">
				  加入购物车
				</button>
			</div>
		</div>
	</div>
	
</ion-view>
