<ion-view id="products" view-title="产品" >
  <ion-nav-buttons side="right" class="my-search-bar">
      <button class="button button-small button-clear " ng-click="openModal()">
      	<i class="icon ion-ios-search search"></i>
      </button>
   </ion-nav-buttons>
	
  <ion-content class="has-header">
		<div class="content">
		
			<ion-list>
		        <ion-item ng-repeat="item in products" ng-click="showProdcut(item.id)" class="item-thumbnail-left item-icon-right">
		          <img ng-src="{{item.image | imgPath}}">
		          
		          <h2 class="text-big text-color-light-grey" >{{item.name}}</h2>
		          <p class="text-thin text-color-light-grey">{{item.retailPrice | currency:"￥"}}</p>
		
		          <i class="icon ion-chevron-right"></i>
		        </ion-item>
		   </ion-list>
		</div>
  </ion-content>
</ion-view>
