<ion-navbar *navbar class="my-navbar">
	<ion-title>
		我的
	</ion-title>
</ion-navbar>

<ion-content class="recipient-edit">
  <form #recipientForm="ngForm">
    <div *ngIf="recipient" class="list list-inset">
      <ion-list inset>
        <ion-item [class.error]="!name.valid && (name.touched || recipientForm.submitted)">
          <ion-label>姓名</ion-label>
          <ion-input type="text" required [(ngModel)]="recipient.name" ngControl="name" #name="ngForm"></ion-input>
        </ion-item>
        <ion-item [class.error]="!phone.valid && (phone.touched || recipientForm.submitted)">
          <ion-label>电话</ion-label>
          <ion-input type="text" required pattern="^\d{11}$" maxlength="11"
                     placeholder="11位手机号码" [(ngModel)]="recipient.phone" ngControl="phone" #phone="ngForm"></ion-input>
        </ion-item>
        <ion-item (click)="openAreaModal('province')" [class.error]="!province.valid && (province.touched || recipientForm.submitted)">
          <ion-label>省</ion-label>
          <ion-input type="text" required [(ngModel)]="recipient.province" ngControl="province" #province="ngForm"></ion-input>
          <button clear item-right>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </button>
        </ion-item>
        <ion-item (click)="openAreaModal('city')" [class.error]="!city.valid && (city.touched || recipientForm.submitted)">
          <ion-label>市</ion-label>
          <ion-input type="text" required [(ngModel)]="recipient.city" ngControl="city" #city="ngForm"></ion-input>
          <button clear item-right>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </button>
        </ion-item>
        <ion-item (click)="openAreaModal('region')" [class.error]="!region.valid && (region.touched || recipientForm.submitted)">
          <ion-label>区</ion-label>
          <ion-input type="text" required [(ngModel)]="recipient.region" ngControl="region" #region="ngForm"></ion-input>
          <button clear item-right>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </button>
        </ion-item>
        <ion-item [class.error]="!street.valid && (street.touched || recipientForm.submitted)">
          <ion-label>街道</ion-label>
          <ion-input type="text" required [(ngModel)]="recipient.street" ngControl="street" #street="ngForm"></ion-input>
        </ion-item>
        <ion-item [class.error]="!address.valid && (address.touched || recipientForm.submitted)">
          <ion-label>住址</ion-label>
          <ion-input type="text" required [(ngModel)]="recipient.address" ngControl="address" #address="ngForm"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>默认</ion-label>
          <ion-toggle [(ngModel)]="recipient.isDefault"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <!--<div *ngIf="!recipientForm.valid" class="ui error message">表单验证错误</div>-->
  </form>
</ion-content>

<ion-toolbar  *ngIf="recipient" white position="bottom" class="bottom-toolbar">
	<div class="bottom-buttons">
		<div class="buttons orange" (click)="save(recipientForm)">
			<button clear class="button half">
				保存
			</button>
		</div>

		<div class="buttons blue" (click)="remove()">
			<button clear class="button  half">
				删除
			</button>
		</div>
	</div>
</ion-toolbar>
