 <ion-modal-view id="search">
    <ion-header-bar class="my-search-bar">
		<div class="bar bar-header item-input-inset">
		  <span class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon" ng-click="search()"></i>
		    <input id="my-search-input" type="search" placeholder="搜索" ng-change="keywordsChange()" ng-model="inputData.keywords">
		    <i class="icon ion-android-cancel placeholder-icon" ng-click="resetLoadKeywords()"></i>
		  </span>
		  <span class="button button-clear" ng-click="cancelModal()">
		    取消
		  </span>
		</div>
	</ion-header-bar>
    <ion-content>
      <div class="list keywords" ng-if="!showLoadKeywordsResult">
	      <div class="item item-divider">
		    热门搜索
		  </div>
		  <span class="hot">
		    <button ng-click="search(item)" ng-repeat="item in hots">{{item}}</button>
		  </span>
		  <div class="item item-divider">
		    搜索历史
		  </div>
		  <span ng-click="search(item)" ng-repeat="item in histories" class="item" href="#">
		    {{item}}
		  </span>
	</div>
	<div class="list results" ng-if="showLoadKeywordsResult">
	      <div class="item item-divider">
		    搜索结果
		  </div>
		  <span ng-click="search(item.keywords)" ng-repeat="item in resultLoadKeywordsData" class="item" href="#">
		    {{item.keywords}}
		  </span>
	</div>
	
   </ion-content>
</ion-modal-view>