<ion-view id="address" view-title="修改地址">
	
  <ion-content class="has-header">
		<div class="list list-inset">
		  <label class="item item-input">
		  	<span class="input-label">姓名</span>
		    <input type="text" ng-model="address.name">
		  </label>
		  <label class="item item-input">
		  	<span class="input-label">电话</span>
		    <input type="text" ng-model="address.phone">
		  </label>
		  <label class="item item-input item-icon-right" ng-click="openModal('provice')">
		  	<span class="input-label">省</span>
		    <span>{{address.provice}}</span>
		    <i class="icon ion-chevron-right"></i>
		  </label>
		  <label class="item item-input item-icon-right" ng-click="openModal('city')">
		  	<span class="input-label">市</span>
		    <span>{{address.city}}</span>
		    <i class="icon ion-chevron-right"></i>
		  </label>
		  <label class="item item-input item-icon-right" ng-click="openModal('region')">
		  	<span class="input-label">区</span>
		    <span>{{address.region}}</span>
		    <i class="icon ion-chevron-right"></i>
		  </label>
		  <label class="item item-input">
		  	<span class="input-label">街道</span>
		    <input type="text" ng-model="address.street">
		  </label>
		  <label class="item item-input">
		  	<span class="input-label">地址</span>
		    <input type="text" ng-model="address.address">
		  </label>
		  <li class="item item-toggle">
		     默认
		     <label class="toggle ">
		       <input type="checkbox" ng-model="address.defaultt">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		</div>
  </ion-content>
	<div class="bar bar-footer has-tab-bar-footer">
	   	<div class="row bottom-buttons">
	   		<div class="buttons">
				<button class="button button-light left half" ng-click="save()">
				  保存
				</button>
				<button class="button button-light right half" ng-click="remove()">
				  删除
				</button>
			</div>
		</div>
	</div>
	
</ion-view>
