 <ion-modal-view id="area-selection">
	<ion-header-bar class="bar-positive">
		<div class="buttons"></div>
		  <h1 class="title">请选择</h1>
		  <div class="buttons">
		  <span class="button button-clear" ng-click="cancelModal()">
		    取消
		  </span>
		  </div>
	</ion-header-bar>
	  <ion-content>
			<div class="list">
				<ion-radio ng-repeat="item in areas" ng-model="area" ng-value="item.areaname" ng-click="select(item)">
					{{item.areaname}}  
				</ion-radio>
			</div>
	  </ion-content>
	
</ion-modal-view>
