<ion-view id="signon">
	<div class="bar bar-header bar-stable">
	  <h1 class="title">注册</h1>
	</div>
  <ion-content class="has-header">

	  <div class="list">
		  <label class="item item-input">
		    <span class="input-label">手机号</span>
		    <input type="text" ng-model="client.mobile">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">密码</span>
		    <input type="password" ng-model="client.password">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">重复密码</span>
		    <input type="password" ng-model="client.repassword">
		  </label>
		</div>
		
		<div class="row">
		 	<button class="button button-positive button-full"  ng-click="signup()">
			  注册
			</button>
		</div>
		
		<div class="row">
		  <div class="col">
			<button class="button button-small button-light" ng-click="toSignon()">
		  		返回登录
			</button>
			</div>
		</div>

  </ion-content>
</ion-view>
